<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #2ed573;">
    <a class="navbar-brand" href="#">
        <img src="../../img/224.png" width="30" height="30" class="d-inline-block align-top" alt=""> PapoteCar
    </a>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon  my-lg-5"></span>
    </button>-->
    <div class="collapse navbar-collapse" id="navbarText">
        <span class="navbar-text mr-5">
            Quand partager est synonyme de convivialité
            fklezjfljefgjlejgfejlgjledjglejglmejmlgjemlgme
        </span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Proposer un parcours <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inscription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Connection</a>
            </li>
        </ul>
    </div>
</nav>