<form class="form-inline">
    <div class="row">
        <div class="col">
            <input type="text" class="form-control form-control-lg" placeholder="Départ">
        </div>
        <div class="col">
            <input type="text" class="form-control form-control-lg" placeholder="Destination">
        </div>
        <div class="col">
            <input type="date" class="form-control form-control-lg" placeholder="Date">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-success btn-lg">Chercher un trajet</button>
        </div>
    </div>
</form>