header {
    background-image: url(../img/pink-car-girl.jpg);
    background-attachment: inherit;
    background-size: cover;
    height: 450px;
}

.header-text {
    background-color: lavender;
    opacity: 0.40;
    height: 300px;
}