.container {
    height: 600px;
    background-color: #e0f3e3;
}

header {
    background-image: url(../assets/img/pink-car-girl.jpg);
    background-size: cover;
    width: 100%;
    height: 450px;
    font-family: 'Francois One', sans-serif;
    color: whitesmoke;
    text-align: center;
}

.header-text {
    height: 330px;
    text-shadow: greenyellow;
}

h1 {
    float: right;
}