<app-navbar></app-navbar>

<header class="alert alert-danger" role="alert">
    <div class="row">
        <div class="header-text col-12">
            <h1>La communauté est là pour vous</h1>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-success col-4" role="alert">
            input proposer un parcour
        </div>
    </div>
</header>
<div class="container-fluid" style="border: 1px solid silver">
    <div class="row">
        <div class="alert alert-success col-4" role="alert">
            input proposer un parcour
        </div>
        <div class="alert alert-warning col-4" role="alert">
            A simple warning alert—check it out!
        </div>
        <div class="alert alert-info col-4" role="alert">
            A simple info alert—check it out!
        </div>
    </div>
    <div class="row">

    </div>
</div>