<app-navbar></app-navbar>

<header class="alert alert-danger" role="alert">
    <div class="container-fluid">
        <div class="row">
            <div class="header-text col-12">
                <h1>La communauté est là pour vous</h1>
            </div>
        </div>
        <div class="row">
            <app-header-form></app-header-form>
        </div>
    </div>
</header>
<div class="container" style="border: 2px solid green; border-radius: 5px; padding:20px">
    <div class="row">
        <div class="alert alert-success col-4" role="alert">
            input proposer un parcour
        </div>
        <div class="alert alert-warning col-4" role="alert">
            A simple warning alert—check it out!
        </div>
        <div class="alert alert-info col-4" role="alert">
            A simple info alert—check it out!
        </div>
    </div>
    <div class="row">
        <div class="alert alert-warning col-12" role="alert">
            A simple info alert—check it out!
        </div>
    </div>
</div>
<app-footer></app-footer>